spring:
  application:
    name: api
  datasource:
    url: jdbc:mysql://awseb-e-uqimne4s4m-stack-awsebrdsdatabase-ks8f5jijkemu.cb2q8cq42e2k.ap-northeast-2.rds.amazonaws.com:3306/testdb
    username: ebroot
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    hibernate:
      ddl-auto: validate    #create update validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: dodojun0913@gmail.com
    password: nfnr fddd uzwi ydwm
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  cloud:
    aws:
      s3:
        bucket: elasticbeanstalk-ap-northeast-2-620812304102
      region:
        static: ap-northeast-2
      stack:
        auto: false
server:
  port: 5000
  error:
    include-message: always          # 기본 에러 바디에 message 포함
    include-binding-errors: always
    include-stacktrace: never
server.forward-headers-strategy: framework

file:
  upload:
    # 로컬(Windows/Mac) 기본 저장 경로: 사용자 홈 밑에 생성
    support-dir: "${user.home}/jikimi_uploads/support"
    # 정적 노출 URL prefix (WebConfig에서 사용)
    public-url-prefix: "/files/"


logging:
  level:
    root: INFO
    org.hibernate.type.descriptor.sql: TRACE
    # Hibernate (DEBUG로 변경하여 바인딩 값 확인 준비)
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: DEBUG   # 바인딩 값 로그 ON

    # Spring Security & Web (DEBUG로 변경하여 상세 흐름 확인)
    org.springframework.security: DEBUG  # Security 상세 로그 ON
    org.springframework.security.web: DEBUG
    org.springframework.web: INFO
    org.springframework.web.servlet.DispatcherServlet: INFO

    # 메시지 컨버터/HTTP 로깅
    org.springframework.http.converter: WARN
    org.springframework.web.reactive.function.client: INFO
    org.springframework.web.HttpLogging: WARN
    reactor.netty: WARN

    # 당신의 앱 패키지 (DEBUG로 변경하여 서비스/컨트롤러 로직 확인)
    code.project: DEBUG # 앱 내부 패키지 상세 로그 ON
#logging.level: org.hibernate.SQL: debug org.hibernate.orm.jdbc.bind: trace org.springframework.security.web: trace org.springframework.web: debug org.springframework.http.converter: trace 지금은 디버그 쪽 없애서 만약 콘솔로그 좀 자세히 보고싶으면 여기 주석해제해서 위에꺼랑 바꿔치기 하면됩니다.

kakao:
  api:
    key: 7bf162dd278aa7eddaf1d6aa4c0257ec
  redirect-uri: "https://d3s30j0qk5vpe1.cloudfront.net/user/kakao"
app:
  hira: # 병원
    base-url: "https://apis.data.go.kr/B552657/HsptlAsembySearchService"
    service-key: "21c5bf0edb51753e536ae49afbab80f43080efdc3ff413e5466e6c6f3a6f1a15"
    timeout-sec: 5

  pharm: #약국
    base-url: "https://safemap.go.kr/openApiService/data"
    list-path: "/getPharmacyData.do"
    service-key: "U418797P-U418-U418-U418-U418797PVF"
    timeout-sec: 5
